.container{
  max-width: 1000px;
  margin: 0 auto;
}
#showOPACbtn button,#showOPACbtn button a, #newBookbtn button {
  width: 45%;
  margin: 0 10px 0 0;
  float:left;
}

#bookDescText {margin-bottom: 40px;}
div.row p {
  margin: 20px 0 0 0;
}

#bookTitle p {
  font-size:18px;
  font-style:italic;
  font-weight:bold;
}