body {
  background: white;
  text-align:left;
}
    
  table {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
  }
  table td {
    border-top: 1px solid #ccc;
    padding: 2px;
    width: 15%;
  }

  .desc {width: 40%;}
  .desc + td {width: 100px}
  .title {
    font-size: 1.1em;
    font-weight: bold;
  }

  thead, tfoot {
    text-align:center;
    padding: 2px;
    font-size: 1.2em;
  }
  #heading{
    background:#ccc;
  }
  #bookList button{
    font-size: 9px;
    color:black;
  }
#bookList a{text-decoration: none;}
