body {
  background: white;
  text-align:left;
}
    
  table {
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
  }
  table td {
    border-top: 1px solid #ccc;
    padding: 2px 4px;
    width: 15%;
  }

  .desc {
    width: 40%;
    font-size: 1em;
  }
  .title {
    font-size: 1.2em;
  }

  thead, tfoot {
    text-align:center;
    padding: 4px 8px;
    font-size: 1.2em;
    font-weight: 600;
  }
  thead th {padding: 12px 0;}
  #heading{
    color:#c00;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  #bookList button{
    display:block;
    font-size: 11px;
    color:black;
    width: 100px;
    margin: 0 auto;
  }
#bookList a{
  text-decoration: none;
  color:black;
}

#bookList #newBooksBtn {
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
}
